:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --grey-color: #666;
  --transition-main: 0.3s;
  --section-background: #ececec;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.spikes {
  position: relative;
}
.spikes::after {
  content: "";
  position: absolute;
  right: 0;
  left: -0%;
  top: 100%;
  z-index: 10;
  display: block;
  height: 30px;
  background-size: 30px 100%;
  background-image:
    linear-gradient(135deg, #fff 25%, transparent 25%),
    linear-gradient(225deg, #fff 25%, transparent 25%);
}

/* start all-title */
.all-title {
  width: max-content;
  margin: 0 auto 80px;
}
.done {
  width: max-content;
  margin: 0 auto 50px;
}
.done h1 {
  font-size: 40px;
}
.all-title h1 {
  padding: 0 20px;
  font-size: 30px;
  border: 2px solid black;
  position: relative;
  z-index: 1;
  text-transform: uppercase;
}
.all-title h1::before,
.all-title h1::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--main-color);
  z-index: -1;
}
.all-title h1::before {
  left: -30px;
}
.all-title h1::after {
  right: -30px;
}
.all-title h1:hover {
  color: white;
  border-color: white;
  transition: var(--transition-main) 0.7s;
}
.all-title h1:hover::before,
.all-title h1:hover::after {
  transition: 0.8s;
  width: 51%;
  height: 100%;
  border-radius: 0;
  transform: translateY(0%);
  top: 0;
}
.all-title h1:hover::before {
  left: 0;
}
.all-title h1:hover::after {
  right: 0;
}

/* end all-title */

/* start header */
.header {
  position: relative;
  box-shadow: 0 0 10px #ddd;
}
.header .mega-main {
  display: flex;
  gap: 40px;
  position: absolute;
  left: 0;
  top: calc(100% + 50px);
  background-color: white;
  padding: 30px;
  width: 100%;
  border-bottom: 3px solid var(--main-color);
  opacity: 0;
  transition: var(--transition-main);
}
.header .main-nav .mega-main.active {
  opacity: 1;
  top: calc(100% + 1px);
  z-index: 100;
}
@media (max-width: 767px) {
  .header .mega-main {
    flex-direction: column;
    gap: 0;
    padding: 0;
  }
}
.header .mega-main .image img {
  max-width: 100%;
}
@media (max-width: 992px) {
  .header .mega-main .image {
    display: none;
  }
}
.header .mega-main .links {
  flex: 1;
  min-width: 250px;
}
.header .mega-main .links li {
  position: relative;
}
.header .mega-main .links li:not(:last-child) {
  border-bottom: 1px solid #e9e6e6;
}
@media (max-width: 767px) {
  .header .mega-main .links:nth-child(2) li:last-child {
    border-bottom: 1px solid #e9e6e6;
  }
}
.header .mega-main .links li a {
  font-size: 18px;
  font-weight: bold;
  display: block;
  padding: 15px;
  color: var(--main-color);
}
.header .mega-main .links li a i {
  margin-right: 10px;
}
.header .mega-main .links li:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background-color: #fafafa;
  z-index: -1;
  transition: var(--transition-main);
}
.header .mega-main .links li:hover::after {
  width: 100%;
}
.header .container {
  display: flex;
  justify-content: space-between;
  position: relative;
}
@media (max-width: 767px) {
  .header .container {
    flex-wrap: wrap;
  }
}
.header .logo {
  color: var(--main-color);
  font-size: 26px;
  font-weight: bold;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  .header .logo {
    width: 100%;
    height: 50px;
  }
}
.header .main-nav {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .header .main-nav {
    margin: auto;
  }
}
.header .main-nav > li > a {
  height: 70px;
  padding: 0 30px;
  color: black;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: var(--transition-main);
}

@media (max-width: 767px) {
  .header .main-nav > li > a {
    font-size: 14px;
    padding: 10px;
    height: 40px;
  }
}
.header .main-nav > li > a:hover {
  color: var(--main-color);
  background-color: #fafafa;
}
.header .main-nav > li > a::after {
  transition: var(--transition-main);
  content: "";
  height: 4px;
  width: 0%;
  background-color: var(--main-color);
  position: absolute;
  top: 0;
  left: 0;
}
.header .main-nav > li > a:hover::after {
  width: 100%;
}
/* end header */
/* start landing */
.landing {
  position: relative;
  overflow: hidden;
}
.landing::after {
  content: "";
  background-color: #ececec;
  position: absolute;
  top: -40px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
}
.landing .container {
  height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  padding-bottom: 120px;
}
.landing .image img {
  width: 600px;
  transition: var(--transition-main);
  animation: landing-img 5s infinite linear;
}
@media (max-width: 991px) {
  .landing .image img {
    display: none;
  }
}
.landing .text {
  flex: 1;
}
@media (max-width: 991px) {
  .landing .text {
    text-align: center;
  }
}
.landing .text h1 {
  margin: 0;
  font-size: 40px;
  letter-spacing: -2px;
  line-height: 1.1;
}
@media (max-width: 767px) {
  .landing .text h1 {
    font-size: 28px;
  }
}
.landing .text p {
  line-height: 1.7;
  max-width: 500px;
  color: var(--grey-color);
  font-size: 23px;
  margin: 5px 0 0;
}
@media (max-width: 991px) {
  .landing .text p {
    margin: 10px auto;
  }
}
@media (max-width: 767px) {
  .landing .text p {
    font-size: 18px;
  }
}
.landing .go-down {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--main-color);
}
.landing .go-down i {
  animation: go-down 0.3s infinite ease-in-out alternate;
}
/* end landing */
/* start articles */
.articles {
  padding: 100px 0;
}
.articles .grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
.articles .grid .card {
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  transition: var(--transition-main);
}
.articles .grid .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}
.articles .grid .card img {
  display: block;
  width: 100%;
  max-width: 100%;
}
.articles .grid .card .card-body {
  padding: 20px;
}
.articles .grid .card .card-body h3 {
  margin: 0;
}
.articles .grid .card .card-body p {
  margin-top: 10px;
  color: var(--grey-color);
  line-height: 1.5;
}
.articles .grid .card .card-footer {
  padding: 20px;
  border-top: 1px solid #e6e6e7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--main-color);
}
.articles .grid .card .card-footer a {
  color: var(--main-color);
  font-weight: bold;
}
.articles .grid .card:hover .card-footer i {
  animation: right-arrow 0.5s infinite linear;
}

/* end articles */
/* start gallery */
.gallery {
  background-color: var(--section-background);
  padding: 100px 0;
}
.gallery .grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.gallery .grid .card {
  position: relative;
  background-color: white;
  padding: 15px;
  box-shadow:
    0px 12px 20px 0px rgb(0 0 0 / 13%),
    0px 2px 4px 0px rgb(0 0 0 / 12%);
}
.gallery .grid .card::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0%;
  height: 0%;
  background-color: white;
  opacity: 0.3;
  z-index: 1;
}
.gallery .grid .card:hover:after {
  animation: gallery 0.3s linear;
}
.gallery .grid .card .image {
  overflow: hidden;
}
.gallery .grid .card:hover .image img {
  transform: scale(1.1) rotate(5deg);
}
.gallery .grid .card .image img {
  width: 100%;
  display: block;
  max-width: 100%;
  transition: var(--transition-main);
}
/* end gallery */
/* start Features */
.features {
  padding: 100px 0;
}
.features .grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.features .card {
  overflow: hidden;
  border: 1px solid #ccc;
}
.features .image {
  position: relative;
}
.features .image::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.features .quality .image::before {
  background-color: #f4403699;
}
.features .time .image::before {
  background-color: #00968899;
}
.features .passion .image::before {
  background-color: #03a9f499;
}
.features .image::after {
  content: "";
  position: absolute;
  bottom: -1px;
  right: -1px;
  border-style: solid;
  border-width: 0px 0px 170px 500px;
  border-color: transparent transparent white transparent;
  transition: var(--transition-main);
}
.features .image img {
  display: block;
  max-width: 100%;
}
.features .card-body {
  text-align: center;
}
.features .card-body h2 {
  margin-top: -15px;
  font-size: 40px;
  width: fit-content;
  margin: 0 auto;
  margin-top: -13px;
  position: relative;
}
.features .card-body h2::before {
  content: "";
  position: absolute;
  left: 15px;
  bottom: -5px;
  width: calc(100% - 30px);
  height: 5px;
}
.features .quality .card-body h2::before {
  background-color: #f44036;
}
.features .time .card-body h2::before {
  background-color: #009688;
}
.features .passion .card-body h2::before {
  background-color: #03a9f4;
}
.features .card-body p {
  margin: 30px 0;
  margin-top: 13px;
  padding: 25px;
  line-height: 2;
  font-size: 20px;
  color: var(--grey-color);
}
.features .card-body a {
  display: block;
  width: fit-content;
  margin: 0 auto 30px;
  padding: 2px 30px;
  font-size: 22px;
  font-weight: bold;
  border: 3px solid transparent;
  border-radius: 6px;
  position: relative;
  transition: var(--transition-main);
}
.features .quality .card-body a {
  border-color: #f44036;
  color: #f44036;
}
.features .time .card-body a {
  border-color: #009688;
  color: #009688;
}
.features .passion .card-body a {
  border-color: #03a9f4;
  color: #03a9f4;
}
.features .card:hover .image::after {
  border-width: 0px 500px 170px 0px;
}
.features a::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0%;
  transition: var(--transition-main);
  z-index: -1;
}
.features .quality a::after {
  background-color: #f44036;
}
.features .time a::after {
  background-color: #009688;
}
.features .passion a::after {
  background-color: #03a9f4;
}

.features .card:hover a {
  color: white;
}
.features .card:hover a::after {
  width: 100%;
}
/* end Features */
/* end Testimonials */
.testimonials {
  background-color: var(--section-background);
  padding: 100px 0;
}
.testimonials .grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.testimonials .card {
  position: relative;
  background-color: white;
  color: var(--grey-color);
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
}
.testimonials .card img {
  position: absolute;
  right: -10px;
  top: -50px;
  width: 100px;
  height: 100px;
  border: 10px solid var(--section-background);
  border-radius: 50%;
}
.testimonials .card h3 {
  margin: 0;
  color: #000;
}
.testimonials .card p {
  margin: 0;
}
.testimonials .card p:last-of-type {
  margin: 0;
  line-height: 1.5;
}
.testimonials .card i {
  color: #ffc107;
}
/* end Testimonials */
/* start Team Members */
.team {
  padding: 100px 0;
}
.team .grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.team .card {
  position: relative;
}
.team .card::after,
.team .card::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  border-radius: 10px;
  transition: var(--transition-main);
}
.team .card::after {
  background-color: #f3f3f3;
  z-index: -2;
  width: calc(100% - 60px);
}
.team .card::before {
  z-index: -1;
  width: 0;
}
.team .card:hover::before {
  width: calc(100% - 60px);
  background-color: #e4e4e4;
}
.team .card-head {
  display: flex;
  align-items: center;
  padding-top: 60px;
}
.team .card-head img {
  width: calc(100% - 60px);
  border-radius: 10px;
  transition: var(--transition-main);
}
.team .card:hover img {
  filter: grayscale();
}
.team .card-head .media {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.team .card-head .media a {
  width: 60px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--grey-color);
}
.team .card-head .media a i {
  transition: var(--transition-main);
}
.team .card-head .media a:hover i {
  color: var(--main-color);
}
.team .info {
  padding-left: 80px;
}
.team .info h3 {
  margin: 0;
  color: var(--main-color);
  transition: var(--transition-main);
  margin-top: 13px;
  font-size: 22px;
}
.team .card:hover h3 {
  color: var(--grey-color);
}
.team .info p {
  margin: 0;
  margin-top: -3px;
  margin-bottom: 15px;
}
/* end Team Members */
/* start Services */
.services {
  background-color: var(--section-background);
  padding: 100px 0;
}
.services .grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.services .card {
  counter-increment: services;
  background-color: white;
  position: relative;
  transition: var(--transition-main);
  box-shadow:
    0 12px 20px 0 rgb(0 0 0 / 13%),
    0 2px 4px 0 rgb(0 0 0 / 12%);
}
.services .card::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 0%;
  background-color: var(--main-color);
  transition: var(--transition-main);
}
.services .card:hover {
  transform: translateY(-10px);
}
.services .card:hover::after {
  width: 100%;
}
.services .card-head {
  text-align: center;
}
.services .card-head i {
  display: block;
  color: #d5d5d5;
  margin: 30px 0 10px;
}
.services .card-head h3 {
  margin: 10px 0 30px;
  color: var(--main-color);
  font-size: 25px;
}
.services .card-foot {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0px 20px;
  background-color: #f9f9f9;
  position: relative;
  overflow: hidden;
  padding: 10px;
}
.services .card-foot::before,
.services .card-foot::after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
}
.services .card-foot::before {
  content: "0" counter(services);
  left: 0px;
  background-color: var(--main-color);
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: white;
  padding-right: 15px;
  font-weight: bold;
}
.services .card-foot::after {
  background-color: #d5d5d5;
  width: 50px;
  left: 80px;
  transform: skewX(-30deg);
}
.services .card-foot a {
  color: var(--main-color);
}
/* end Services */
/* start Our Skills */
.skills {
  padding: 100px 0;
}
.skills .box {
  display: flex;
}
@media (max-width: 992px) {
  .skills img {
    display: none;
  }
}
.skills .all-skills {
  flex: 1;
}
.skills .row {
  width: 100%;
}
.skills .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 12px 0;
}
.skills .info span {
  font-size: 12px;
  border: 1px solid #ccc;
  color: var(--main-color);
  padding: 0 5px;
  border-radius: 4px;
  font-weight: bold;
}

.skills .bar {
  height: 30px;
  background-color: #eee;
  position: relative;
}
.skills .bar .widthBar {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0%;
  transition: 0.5s;
  background-color: var(--main-color);
}
/* end Our Skills  */
/* start How It Works ?  */
.works {
  padding: 100px 0;
  background-color: var(--section-background);
}
.works .layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .works .layout {
    flex-direction: column;
  }
}
.works .layout > img {
  margin-right: 100px;
  max-width: 100%;
}
@media (max-width: 992px) {
  .works .layout img {
    margin-bottom: 30px;
    margin-right: 0;
  }
}
.works .layout .box .row {
  padding: 30px;
  background-color: #f6f5f5;
  border-radius: 6px;
  border: 2px solid #fff;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}
.works .layout .box .row::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 0%;
  height: 0%;
  background-color: #ededed;
  z-index: -1;
  transition: var(--transition-main);
}
.works .layout .box .row:hover::before {
  width: 100%;
  height: 100%;
}
@media (max-width: 992px) {
  .works .layout .box .row {
    flex-direction: column;
    text-align: center;
  }
}

.works .layout .box .row img {
  width: 64px;
  height: 64px;
  margin-right: 30px;
}

@media (max-width: 992px) {
  .works .layout .box .row img {
    margin-right: 0;
    margin-bottom: 30px;
  }
}

.works .layout .box .row .info h3 {
  font-size: 22px;
}
.works .layout .box .row .info p {
  font-size: 18px;
  color: var(--grey-color);
  line-height: 1.7;
}
/* end How It Works ?  */
/* start Latest Events */
.events {
  padding: 100px 0;
}
.events .masters {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.events .masters img {
  max-width: 450px;
}
@media (max-width: 992px) {
  .events .masters img {
    display: none;
  }
}
.events .masters .box {
  text-align: center;
}
.events .masters .box .time {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.events .masters .box .time .card {
  border: 1px solid #d4d4d4;
  border-radius: 6px;
  width: 85px;
  overflow: hidden;
  transition: var(--transition-main);
}
@media (max-width: 767px) {
  .events .masters .box .time .card {
    width: 75px;
  }
}
.events .masters .box .time .card:hover {
  border-color: var(--main-color);
}
.events .masters .box .time .card p {
  font-size: 30px;
  color: var(--main-color);
  font-weight: bold;
}
@media (max-width: 767px) {
  .events .masters .box .time .card p {
    font-size: 25px;
  }
}
.events .masters .box .time .card span {
  font-size: 13px;
  padding: 4px 10px;
  border-top: 1px solid #d4d4d4;
  display: block;
  transition: var(--transition-main);
  background-color: #f1f5f9;
}
.events .masters .box .time .card:hover span {
  border-color: var(--main-color);
}
.events .masters .box > h3 {
  font-size: 30px;
  margin-top: 30px;
}
.events .masters .box > p {
  font-size: 19px;
  margin: 12px 0;
  color: var(--grey-color);
  line-height: 1.7;
}
.events .subscribe {
  margin-top: 50px;
}
.events form {
  width: 600px;
  background-color: #f1f5f9;
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 50px;
  margin: 20px auto;
  padding: 30px 40px;
}
@media (max-width: 767px) {
  .events form {
    width: 100%;
    flex-direction: column;
    border-radius: 0;
    padding: 20px;
    margin: 20px auto;
  }
}
.events form input[type="text"] {
  font-size: 15px;
  flex: 1;
  padding: 20px;
  border-radius: 50px;
  border: none;
  outline: none;
}
@media (max-width: 767px) {
  .events form input[type="text"] {
    width: 100%;
    border-radius: 0;
  }
}
.events form input[type="text"]:focus::placeholder {
  transition: var(--transition-main);
  opacity: 0;
}
.events form input[type="submit"] {
  font-size: 15px;
  background-color: var(--main-color);
  color: #fff;
  border: none;
  font-weight: bold;
  padding: 20px;
  border-radius: 50px;
  cursor: pointer;
  transition: var(--transition-main);
}
@media (max-width: 767px) {
  .events form input[type="submit"] {
    width: 100%;
    border-radius: 0;
  }
}
.events form input[type="submit"]:hover {
  background-color: var(--main-color-alt);
}
/* end Latest Events */
/* start pricing plans */
.pricing {
  padding: 100px 0;
  background-color: var(--section-background);
}
.pricing .box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
@media (min-width: 1200px) {
  .pricing .box .card.top {
    transform: translateY(-20px);
  }
}
.pricing .box .card {
  position: relative;
  background-color: #fff;
  box-shadow:
    rgba(0, 0, 0, 0.13) 0px 12px 20px 0px,
    rgba(0, 0, 0, 0.12) 0px 2px 4px 0px;
  transition: var(--transition-main);
  z-index: 1;
}
.pricing .box .card::before {
  content: "";
  position: absolute;
  width: 0%;
  background-color: #f6f6f6;
  height: 50%;
  top: 0;
  left: 0;
  z-index: -1;
  transition: var(--transition-main);
}
.pricing .box .card::after {
  content: "";
  position: absolute;
  width: 0%;
  background-color: #f6f6f6;
  height: 50%;
  bottom: 0;
  right: 0;
  z-index: -1;
  transition: var(--transition-main);
}
.pricing .box .card:hover::before {
  width: 100%;
}
.pricing .box .card:hover::after {
  width: 100%;
}
.pricing .box .card .rotate {
  position: absolute;
  top: 0;
  right: 20px;
  writing-mode: vertical-lr;
  padding: 10px 5px 35px 5px;
  background-color: var(--main-color);
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}
.pricing .box .card .rotate div {
  position: absolute;
  bottom: 0;
  left: 0;
  border-style: solid;
  border-color: transparent transparent white transparent;
  border-width: 0px 21px 22px 23px;
}

.pricing .box .card .card-head {
  text-align: center;
  margin-bottom: 20px;
}
.pricing .box .card .card-head h3 {
  font-size: 25px;
  margin: 20px 0;
}
.pricing .box .card .card-head img {
  width: 80px;
}
.pricing .box .card .card-head p {
  font-size: 60px;
  margin-bottom: -22px;
  color: var(--main-color);
  font-weight: bold;
}
.pricing .box .card .card-head span {
  color: var(--grey-color);
  font-weight: 400;
}
.pricing .box .card ul li {
  padding: 14px 20px;
}
.pricing .box .card ul li:not(:last-child) {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.pricing .box .card ul li i {
  margin-right: 5px;
  color: var(--main-color);
}
.pricing .box .card .card-foot {
  text-align: center;
}
.pricing .box .card .card-foot a {
  background-color: #fff;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  border-radius: 6px;
  padding: 10px 20px;
  transition: var(--transition-main);
  font-weight: bold;
  display: block;
  width: fit-content;
  margin: 25px auto 40px;
}
.pricing .box .card .card-foot a:hover {
  background-color: var(--main-color);
  color: #fff;
}
/* end pricing plans*/
/* start Top Videos */
.videos {
  padding: 100px 0;
}
.videos .holder {
  display: flex;
  border: 1px solid #ddd;
}
@media (max-width: 992px) {
  .videos .holder {
    flex-direction: column;
  }
}
.videos .holder .list {
  min-width: 300px;
}
.videos .holder .list .info {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 20px;
  background-color: #f4f4f4;
  border-bottom: 1px solid #ddd;
}
.videos .holder .list ul li {
  padding: 14px 20px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  transition: var(--transition-main);
}
.videos .holder .list ul li:hover {
  background-color: #f1f5f9;
}
.videos .holder .list ul li p {
  transition: var(--transition-main);
}
.videos .holder .list ul li:hover p {
  color: var(--main-color);
}
.videos .holder .list ul li span {
  display: block;
  color: var(--grey-color);
}
.videos .holder .preview {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #e2e2e2;
  padding: 10px;
}
.videos .holder .preview img {
  max-width: 100%;
}
.videos .holder .preview .about {
  padding: 14px 20px;
  margin-top: 10px;
  background-color: #fff;
}
/* end Top Videos*/
/* start Our Awesome Stats*/
.awesome {
  padding: 100px 0;
  background-image: url("../images/stats.jpg");
  background-size: cover;
  position: relative;
  z-index: 2;
}
.awesome::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fffffff2;
  z-index: -1;
}
.awesome .holder {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
.awesome .holder .box {
  opacity: 0.8;
  background-color: #fff;
  text-align: center;
  padding: 20px 15px;
  transition: 0.8s;
  position: relative;
}
.awesome .holder .box:hover {
  opacity: 1;
}
.awesome .holder .box::before,
.awesome .holder .box::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 0%;
  background-color: var(--main-color);
  transition: 0.8s;
}
.awesome .holder .box::before {
  top: 0;
  right: 0;
}
.awesome .holder .box::after {
  bottom: 0;
  left: 0;
}
.awesome .holder .box:hover::before,
.awesome .holder .box:hover::after {
  height: 100%;
}

.awesome .holder .box p {
  font-size: 50px;
  font-weight: bold;
  margin: -10px auto;
}
.awesome .holder .box span {
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  color: var(--main-color);
}
/* end Our Awesome Stats*/
/* start discount*/
.discount {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}
.discount h3 {
  font-size: 40px;
  letter-spacing: -2px;
  margin: 30px 0 18px;
}
.discount .details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  flex-basis: 50%;
  position: relative;
  background-size: cover;
  color: #fff;
  z-index: 2;
  text-align: center;
  animation: image-details 8s infinite linear;
}
@media (max-width: 992px) {
  .discount .details {
    flex-basis: 100%;
  }
}
.discount .details::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(23 135 224 / 97%);
  z-index: -1;
}
.discount .details p {
  font-size: 18px;
  line-height: 1.6;
  max-width: 500px;
}
.discount .details img {
  width: 300px;
  max-width: 100%;
  margin: 18px 0;
}
.discount .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  flex-basis: 50%;
  padding-bottom: 50px;
}
@media (max-width: 992px) {
  .discount .form {
    flex-basis: 100%;
  }
}
.discount .form .input {
  padding: 15px;
  margin-bottom: 25px;
  border: none;
  outline: none;
  border-bottom: 1px solid #ccc;
  background-color: #f9f9f9;
  display: block;
  width: 100%;
  font-size: 16px;
}
.discount .form textarea {
  resize: none;
  height: 200px;
}
.discount .form [type="submit"] {
  display: block;
  width: 100%;
  border: none;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 15px;
  cursor: pointer;
  transition: var(--main-transition);
}
.discount .form [type="submit"]:hover {
  background-color: var(--main-color-alt);
}
/* end discount*/
/*start Footer*/
footer {
  padding-top: 70px;
  background-color: #191919;
}
footer .holder {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
  color: #fff;
}
footer .holder .mo h3 {
  font-size: 50px;
  margin-top: -15px;
}
@media (max-width: 767px) {
  footer .holder {
    text-align: center;
  }
}
footer .holder .mo .href {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (max-width: 767px) {
  footer .holder .href {
    margin: auto;
    width: max-content;
  }
}
footer .holder .mo .href a {
  text-align: center;
  align-content: center;
  display: block;
  font-size: 20px;
  width: 50px;
  height: 50px;
  color: #b9b9b9;
  background-color: #313131;
  transition: var(--transition-main);
}
footer .holder .mo .href a.facebook:hover {
  background-color: #1877f2;
}
footer .holder .mo .href a.twitter:hover {
  background-color: #1da1f2;
}
footer .holder .mo .href a.youtube:hover {
  background-color: #ff0000;
}
footer .holder .mo p {
  margin: 16px 0;
  color: #b9b9b9;
}
footer .holder ul li {
  padding: 10px 0;
}
footer .holder ul li:not(:last-child) {
  border-bottom: 1px solid #444;
}
footer .holder ul li a {
  transition: var(--transition-main);
  color: #b9b9b9;
}
footer .holder ul li:hover a {
  display: block;
  color: #fff;
  padding-left: 10px;
}
footer .holder ul li a i {
  margin-right: 10px;
  color: var(--main-color);
}
footer .holder .map .box {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  color: #b9b9b9;
}
@media (max-width: 767px) {
  footer .holder .map .box {
    flex-direction: column;
  }
}
footer .holder .map .box i {
  margin-right: 10px;
  font-size: 25px;
  color: var(--main-color);
}
@media (max-width: 767px) {
  footer .holder .map .box i {
    margin-right: 0;
    margin-bottom: 15px;
  }
}
footer .holder .images {
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}
footer .holder .images img {
  width: 74px;
  height: 74px;
  border: 3px solid #fff;
}
footer > span {
  display: block;
  padding: 25px 0;
  text-align: center;
  color: white;
  margin-top: 50px;
  border-top: 1px solid #444;
}
/*end Footer*/
/* start animations */
@keyframes go-down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}
@keyframes landing-img {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes right-arrow {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateX(10px);
  }
}
@keyframes gallery {
  100% {
    width: 100%;
    height: 100%;
  }
}
@keyframes image-details {
  0%,
  100% {
    background-image: url("../images/discount-background1.jpg");
  }
  50% {
    background-image: url("../images/discount-background2.jpg");
  }
}
/* end animations */
